html,
body {
  height: 100%;
  background-color: #e9a769;
}

/*Adaptamos los colores del footer as los colores de la seccion educativa*/
.navbar {
  background: #1a1a1a !important;
}

footer{
  background: #595959 !important;
}

footer h5{
  color: #d68110 !important;
}

/*Estilo de los botones*/
.acceso {
  background-color: #ff834e;
  background-image: linear-gradient(62deg, #ff834e 0%, #fdc426 86%);
  color: black !important;
  text-shadow: 2px, 2px, black;
}

.btncurso {
  background-color: #0579bb;
  background-image: linear-gradient(34deg, #0579bb 0%, #80D0C7 94%); 
  margin-top: 26px;
}

/*Contenidos de paginas educacion*/
.candt {
  margin-top: 2%; 
  margin-left: 15%; 
  margin-right: 15%; 
  margin-bottom: 5%;
  font-family: 'Playfair Display', serif;
}

.ora{
  background-color: #d68110!important;
}



.lessons {
  color: black !important;
  background-color: white;
  border-radius: 20px;
  border-style:solid;
  border-color: black;
  padding-top: 15px;
  padding-bottom: 15px;
}

.cursosc {
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.textles {
  margin-left: 20px;
}

.headerimg {
  background-color: #b6e3ff;
  background-image: linear-gradient(122deg, #b6e3ff 0%, #d6ffec 87%);
}

/* Modificacion de las "cards" */
.card {
  border-radius: 40px;
  box-shadow: 0px 0px 8px 0.01px #b9b9b9;
  box-shadow: white;
}

.card-img-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-footer{
  text-align: center;
}

.coursecard {
  border-radius: 20px;
  text-align: center;
}