/* Source: https://mdbootstrap.com/snippets/jquery/ascensus/1727054#css-tab-view */

@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: #212121!important;
    }
}

.navbar {
    background-color:rgba(0,0,0,.2)
}

.top-nav-collapse {
    background-color:#212121;
}

.nav-btn {
    margin-top: none;
    border: none !important;
    height: 5%;
    height: 3em;
    opacity: 100% !important;
}

.btn {
    box-shadow: none; 
}

.btn:hover {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}

nav {
    height: 4em;
}

.nav-signup {
    max-width: 10vw;
}

.btn-signup {
    font-size: 0.7rem;
    width: 6.5vw;
    max-width: 6.5vw;
}


@media only screen and (max-width:970px) {
    .navbar {
        background-color:#212121
    }

    .navbar-collapse {
        background-color: #212121;
        opacity: 95%;
    }
}