/* Source: https://mdbootstrap.com/snippets/jquery/ascensus/1727054#css-tab-view */

@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: #212121!important;
    }
}

.navbar {
    background-color:rgb(167, 11, 11) !important;
}

.top-nav-collapse {
    background-color:#212121;
}

/*Adiciones relacionadas con el color checkpoint2*/
.nuevocolor{
    color: rgb(0, 0, 0) !important;
}
.nuevocolorsec{
    background-color: rgb(218, 76, 76) !important;
    margin-left: 20% !important;
    border-radius: 20px;
    color: white;
}
body{
    background-color: rgb(248, 223, 223) !important;
}
.links{
    color: #00d9ff !important;
}

@media only screen and (max-width:970px) {
    .navbar {
        background-color:#212121
    }

    .navbar-collapse {
        background-color: #212121;
        opacity: 95%;
    }
}