html {
    overflow: auto;
    overflow-x: hidden; 
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    height: 100vh;
    font-family: "Roboto",sans-serif;
}

section {
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;

    scroll-snap-align: end;
    scroll-snap-stop : normal;
}

.snap-scroll {
    scroll-snap-align: start;
    scroll-snap-stop : normal;
}

nav {
    height: 4em;
}

.nav-btn {
    margin-top: none;
    border: none !important;
    height: 5%;
    height: 3em;
    opacity: 100% !important;
}

.nav-signup {
    max-width: 10vw;
}

.btn-signup {
    font-size: 0.7rem;
    width: 6.5vw;
    max-width: 6.5vw;
}

.overlap {
    z-index: 1500;
    opacity: 80%;
    margin-left: 2.5em;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #000000a9;
}

.carousel {
    min-height: 220px !important;
}

.carousel-item {
    max-height: 76vh;
    min-height: 220px !important;
}

/* Section */
.title {
    margin-top: 6.5rem;
    font-weight: 500;
    opacity: 70%;
    margin-left: 1rem;
}

.subtitle {
    margin-top: 2.5rem;
    font-weight: 300;
}

.text-col {
    max-width: 550px;
    margin-left: 1rem;
    margin-left: 1rem;
    text-align: justify;
    text-justify: inter-word;
    min-width: 350px !important;
}

.info-col {
    min-width: 480px;
}

.imginst{
    width: 30%;
}

#textos{
    padding-top: 30px;
    margin-top: 30px;
}