:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}   

body {
    color: var(--bg-primary);
    background-color: white;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}
  
body::-webkit-scrollbar-track {
    background: var(--bg-primary);
}
  
body::-webkit-scrollbar-thumb {
    background: #6649b8;
}
main {
    margin-left: 5rem;
    padding: 1rem;
}
  
.sidebar {
    background-color: var(--bg-primary);
    transition: width 600ms ease;
}
  
.sidebar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
  
.sidebar-item {
    width: 100%;
}
  
.sidebar-item:last-child {
    margin-top: auto;
}
  
.sidebar-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}
  
.sidebar-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}
  
.link-text {
    display: none;
    margin-left: 1rem;
}
  
.sidebar-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}
  
.fa-primary {
    color: #ff7eee;
}
  
.fa-secondary {
    color: #df49a6;
}
  
.fa-primary, .fa-secondary {
    transition: var(--transition-speed);
}
  
.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}
  
.logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}
  
.logo-text {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}
  
.sidebar:hover .logo svg {
    transform: rotate(-180deg);
}
  
  /* Small screens */
@media only screen and (max-width: 600px) {
    .sidebar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }
  
    .logo {
        display: none;
    }
  
    .sidebar-nav {
        flex-direction: row;
    }
  
    .sidebar-link {
        justify-content: center;
    }
  
    main {
        margin: 0;
    }

    .code-container {
        flex-direction: column;
    }
}
  
/* Large screens */
@media only screen and (min-width: 600px) {
    .sidebar {
        top: 0;
        width: 5rem;
        height: 100%;
    }
  
    .sidebar:hover {
        width: 16rem;
    }
  
    .sidebar:hover .link-text {
        display: inline;
        white-space: nowrap;
    }
  
    .sidebar:hover .logo svg {
        margin-left: 11rem;
    }
  
    .sidebar:hover .logo-text {
        left: 0px;
    }
    
    .code-container {
        flex-direction: row;
    }
}

/*.editor-container {
    display: flex;
    flex-direction: column;
}*/

.placehold-color {
    background-color: var(--bg-primary);
}

.editor-container {
    background-color: var(--bg-primary);
    min-height: 100vh;
}

.code-container {
    display: flex;
}

.code-frame {
    width: 100%;
    height: 96vh;
    background-color: var(--bg-primary);
}

.shell-container {
    color: var(--text-secondary);
    margin-top:1.6rem;
    margin-left:2rem;
    margin-right:2rem;
}

.return-code {
    color: var(--text-secondary);
    font-size: 1rem;
    max-height: 5rem;
}

.nav {
    background-color: var(--bg-primary);
}
.nav:active {
    background-color: var(--bg-secondary);
}
.nav a {
    color: var(--text-primary);
}
.nav a:active {
    color: var(--text-secondary);
}
.nav a:hover {
    color: var(--text-secondary);
}
.nav-item:active {
    color: var(--text-secondary)!important;
    background-color:  var(--bg-secondary)!important;
}
tabs .nav-link.active {
    color: var(--text-secondary)!important;
    background-color:  var(--bg-secondary)!important;
    border-color: var(--bg-secondary)!important;
}

.tab-icon {
    color: var(--text-primary)!important;
}

/* -- THEMES -- */

.dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}
  
.light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
}
  
.solar {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
}
  
.theme-icon {
    display: none;
}
  
.dark #darkIcon {
    display: block;
}
  
.light #lightIcon {
    display: block;
} 
  
.solar #solarIcon {
    display: block;
}
  